.register-btn{
    background-color: #30475E;
    color: white;
}
#register{
    
    min-height: 100vh;
    // background-color: #F00;
    // background-color: #F00;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: relative;
}
// .form {
//     position: absolute !important;
//     z-index: 9;
   
//     // bottom: 0;
// }
ng-particles{
    position: fixed !important;
    z-index: -1;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
}